/* stylelint-disable */

/* Montserrat - Headings and UI */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Source+Sans+3:wght@400;600;700&display=swap');
